VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_WS_BASE_URL=ws://127.0.0.1:8000
VITE_IMAGE_PROCESSING_BASE_URL=http://127.0.0.1:3000
VITE_SOCIAL_GOOGLE_CLIENT_ID=482648989747-q03hr5vj66j2jjeq56v45qsolmu2e6ug.apps.googleusercontent.com
